<div class= continer>
  <div class= inner>
    <h1 class= title>日用品交換記録</h1>
      <%= link_to 'Sign up', users_path, class: 'btn' %>
      <%= link_to 'Log in', login_path, class: 'btn' %>
  </div>
</div>