.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}


.continer {
  width: 100vw;
  height: 100vh;
}

.inner {
  position: absolute;
  top: 10%;
  left: 10%;
}

.title {
  text-align: center;
}

.linktitle {
  margin-top: 30px;
  font-size: 14px;
}

.linkpage {
  color: #333;
  border-bottom: 1px solid #333;
  
  &:hover {
    color: #c0c0c0;
    border-bottom: #c0c0c0;
  }
}

h2 {
  font-size: 14px;
  color: #333;
}

// topページに採用
.btn {
  color: #333;
  border: 1px solid #333;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  border-radius: 5px;
  display: block;
  margin: 50px 0;
  
  
  &:hover {
    color: #333;
    background-color: #c0c0c0;
    text-decoration: none;
  }
}

.signlog {
  color: #333;
  font-size: 16px;
  border: 1px solid #333;
  padding: 8px 20px;
  border-radius: 5px;
  
  &:hover {
    color: #333;
    font-size: 16px;
    background-color: #c0c0c0;
    text-decoration: none;
  }
}

.con {
  text-align:center;
}

.form-control {
  height: 45px;
}

.form-group {
  margin-bottom: 20px;
}


th ,td {
  border: 2px solid #333;
  padding: 5px 10px;
  text-align: center;
}

.toroku-input {
  width: 150px;
  height: 30px;
}

.interval-input {
  width: 50px;
  text-align: center;
  height: 30px;
}

.bottn {
  color: #333;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #333;
  padding: 4px 10px;
  border-radius: 5px;
  
  
  &:hover {
    color: #333;
    font-size: 12px;
    background-color: #c0c0c0;
    text-decoration: none;
  }
}

.loginkotira {
  margin-top: 30px;
}
  